input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
h2 {
    text-align: right;
}
