ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
}

ul.navbar {
    position: relative;
    width: 100%;
}

li {
    float: left;
    width: 150px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    width: 120px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    /*background-color: #555;*/
    background-color: red;
    display: inline-block;
    color: white;
}

.dropdown-button>a::before {
    content: "\25BA\0020";
    font-size: smaller;
}

.dropdown-button:hover>a::before {
    content: "\25BC\0020";
    font-size: smaller;
}

.dropdown-content {
    display: none;
    position: fixed;
    width: 150px;
    top: 64px;
    z-index: 1;
}

.dropdown-button:hover .dropdown-content{
    display: block;
    background-color: #a3858e;
}

.dropdown-button:hover .dropdown-content a:hover {
     background-color: #ad4f6c;
}
